.DS_Store
**/coverage
**/__pycache__

# local env files and setting files
**/.env
players.py

# Log files && stuff for later
**/attic

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
